# ignore ALL files in ANY directory named android
**/android
*/android

# ignore ALL .cfg Export Preset file updates

**/source_code/export_presets.cfg




*/source_code/android/
**/source_code/.imports/

# All Import files
*.md5
*.stex
*.import
*.hdr

# All Material & 3d files
*.material
*.gltf

# My recent unfinished codes Jun 17th

*/source_code/resources/3D/
